<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>A1</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A2</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A11</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A111</string>
					<key>level</key>
					<string>1</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>A1</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A2</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A11</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A111</string>
					<key>level</key>
					<string>1</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>level</key>
			<integer>0</integer>
			<key>Objects</key>
			<array>
				<dict>
					<key>name</key>
					<string>A1</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A2</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A11</string>
					<key>level</key>
					<integer>1</integer>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A22</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>A111</string>
					<key>level</key>
					<string>1</string>
					<key>Objects</key>
					<array>
						<dict>
							<key>name</key>
							<string>A222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A2222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>A22222</string>
							<key>level</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
